.header {
  @include onTablet {
    gap: 130 - $padding-block-tablet;
  }

  @include onDesktop {
    gap: 90 - $padding-block-desktop;
  }

  &__content {
    @include onTablet {
      flex-direction: row-reverse;
      padding-inline: $padding-inline-tablet;
    }

    @include onDesktop {
      flex-direction: row-reverse;
      padding-inline: $padding-inline-desktop;
    }
  }

  &__text {
    font-family: $main-font;

    @include onTablet {
      gap: 30px;
      padding-inline: 0;
      padding-block: 0;
    }

    @include onDesktop {
      padding-inline: 0;
      padding-top: 80px;
    }

    &--title {
      @include onTablet {
        @include fontStyles (48px, 700, 62px);
      }

      @include onDesktop {
        @include fontStyles (62px, 700, 78px);
      }
    }
  }
}