.lang-switcher {
   font-family: $second-font;

  &--top-bar {
    @include onTablet {
      display: flex;
    }

    @include onDesktop {
      display: flex;
      @include fontStyles (14px, 400, 20px);
    }
  }

  &--menu {
    @include fontStyles (14px, 400, 18px);
  }
}
