@font-face {
  font-family: Inter;
  src: url('../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/Helvetica/HelveticaNeueCyr-Black.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/Helvetica/HelveticaNeueCyr-Light.otf');
  font-weight: normal;
  font-style: normal;
}
