@import 'utils';
@import 'fonts';
@import 'typography';
@import 'blocks';

html {
  visibility: hidden;
}

html.loaded {
  visibility: visible;
}

body {
  background: $c-gray;
  margin: 0;
  padding: 0;
  font-family: $main-font, sans-serif;
}
